{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1504&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a final year medical student currently on a gap year. I'm making the most out of my carefree days reading, writing and learning how to code. </p>
        <p>I love reading since young and took to listening to podcasts since last year. No matter how inspiring or though-provoking the contents are, I am plagued with the problem of having these grains of insights slip through the gaps of my memory.</p>
        <p>This is why I am writing a blog, to create a pensieve for my thoughts that my human brain cannot contain long enough for future consumption and to find people on the internet who share and do not share the same ideas.</p>
        <p>Stuff I'm interested in: </p>
        <ul>
          <li>Big tech and the attention economy</li>
          <li>The psychology of behaviour change</li>
          <li>Health and medicine</li>
          <li>Machine learning and artificial intelligence</li>
          <li>Ethics and moral reasoning</li>
          <li>Productivity and self-growth</li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}